{% extends 'base.html.twig' %}
{% block body %}

<article>

    <h2>Analyse du projet : {{projet.titre}}</h2>

    <p>Afin de compléter l'assistant suivant vous aurez besoin</p>

    <ul>
        <li>KBIS</li>
        <li>Vos CCN</li>
        <li>Vos RIB</li>
    </ul>

</article>

    <a class="btn btn-primary" href="{{ path('assistantcreationsociete_societe_create',{'idprojet':projet.id})}}">Ajouter une société avec l'assistant</a>

 <table class="societes">
    
        <thead>
            <tr>
                
                    <th>SIREN</th>
                    <th>Raison sociale</th>
            </tr>
        
        </thead>
        <tbody>


            {%for societes in projet.societes %}
                <tr>
                    <td>{{societes.siren}}</td>
                    <td>{{societes.raisonsociale}}</td>
                    <td><a class="btn btn-primary" href="{{ path('assistantcreationsociete_index',{'idprojet':projet.id,'idsociete':societes.id})}}">Assistant création société</a></td>
                    <td><a class="btn btn-primary" href="{{ path('assistantparametragehrszoneslibres_create',{'idprojet':projet.id,'idsociete':societes.id})}}">Assistant création paramétrage</a></td>
                </tr>
            {%endfor%}

           
        </tbody>
     </table>


{% endblock %}
