<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
{% form_theme formProjet 'bootstrap_4_layout.html.twig' %}

{%block body%}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Projet analyse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            {% if not app.user%}
   
                <li class"nav-item">
                    <a href="{{ path('security_login')}}" class="nav-link">
                    Connexion
                    </a>
            </li>

            {% else %}
                <li class"nav-item">
                    <a href="{{ path('security_logout')}}" class="nav-link">
                    Deconnexion
                    </a>
                </li>

            {% endif %}
        </div>
    </nav>

    <h1> Création d'un projet</h1>


    {{ form_start(formProjet)}}

    {{form_row(formProjet.titre,{'attr': {'placeholder':"Indiquer le nom de du projet"}}) }}
    {{form_row(formProjet.logiciel,{'attr': {'placeholder':"Indiquer le nom du logiciel"}})}}
    {{form_row(formProjet.sic,{'attr': {'placeholder':"Indiquer le nom le sic"}})}}
    {{form_row(formProjet.description,{'attr': {'placeholder':"Indiquer une description"}})}}

    
    <button type="submit" class="btn btn-primary">
    {% if editMode %}
        Enregistrer
    {%else%}
        Ajouter le projet

    {% endif %}

    </button>

    {{form_end(formProjet)}}

{%endblock%}