{% extends 'base.html.twig' %}
{%block body %}

    <h1> Création d'un projet</h1>


    {{ form_start(formProjet)}}

    {{form_row(formProjet.titre,{'attr': {'placeholder':"Indiquer le nom de du projet"}}) }}
    {{form_row(formProjet.logiciel,{'attr': {'placeholder':"Indiquer le nom du logiciel"}})}}
    {{form_row(formProjet.sic,{'attr': {'placeholder':"Indiquer le nom le sic"}})}}
    {{form_row(formProjet.description,{'attr': {'placeholder':"Indiquer une description"}})}}

    
    <button type="submit" class="btn btn-primary">
    {% if editMode %}
        Enregistrer
    {%else%}
        Ajouter le projet

    {% endif %}

    </button>

    {{form_end(formProjet)}}

{%endblock%}