{% extends 'base_accueil.html.twig' %}

{%block body %}

 <p>Bonjour {{utilisateur.nom}} {{utilisateur.prenom}} </p>
 <p>Vous trouverez ci dessous la liste de vos projets</p>

    <table class="projets">

    <thead>
            <tr>
                    <th>Titre projet</th>
                    <th>Logiciel</th>
                    <th>sic</th>
                    <th>description</th>
            </tr>
        
        </thead>
        <tbody>
            {%for projet in utilisateur.projets %}

                <tr>
                    <th>{{projet.titre}}</td>
                    <td>{{projet.logiciel}}</td>
                    <td>{{projet.sic}}</td>
                    <td>{{projet.description}}</td>
                    <td><a href="{{ path('projet_tableau_de_bord', {'idprojet':projet.id})}}" class="btn btn-primary">Accéder au projet</a></td>
                    <td><a href="{{ path('projet_edit', {'idprojet':projet.id})}}" class="btn btn-primary">Editer le projet</a></td>
                </tr>
            {%endfor%}
        </tbody>
     </table>

<a href="{{ path('projet_create')}}" class="btn btn-primary">Créer un projet</a></td>

{%endblock%}

