{% extends 'base.html.twig' %}
{% block body %}



   <strong>Liste des sociétés</strong>

    <a class="nav-link" href="{{ path('societe_create',{'idprojet':projet.id})}}">Ajouter une societe</a>
   {%if totalsociete >1 %}

    <table class="societes">
    
        <thead>
            <tr>
                
                    <th>Raisonsociale</th>
                    <th>SIREN</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Editer société</th>
                    <th>Créer un établissement</th>
                    <th>Créer l'analytique</th>
                    <th>Créer les zones libres</th>
                    <th>Créer les classifications</th>
                    <th>Créer les CCN</th>
                    <th>Créer une rubrique</th>


            </tr>
        
        </thead>
        <tbody>


            {%for societe in projet.societes %}
                <tr>
                    <td>{{societe.raisonsociale}}</td>
                    <td>{{societe.siren}}</td>
                    <td>{{societe.adresse}}</td>
                    <td>{{societe.codepostal}}</td>
                    <td>{{societe.ville}}</td>
                    <td><a class="nav-link" href="{{ path('societe_create',{'idprojet':projet.id})}}">Editer la société</a></td>
                    <td><a class="nav-link" href="{{ path('etablissement_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Créer un établissement</a></td>
                    <td><a class="nav-link" href="{{ path('rubrique_create',{'idprojet':projet.id,'idsociete':societe.id})}}">Créer une rubrique</a></td>

                </tr>
            {%endfor%}

            <tfoot>
                <tr>
                    <td colspan="1">Total societes:
                    </td>
                    <td>{{totalsociete}}</td>
                                      
                </tr>
            </tfoot>
            
        </tbody>
     </table>

    {%else%}

       <a class="nav-link" href="{{ path('societe_create',{'idprojet':projet.id})}}">Vous devez créer une société</a>


    {%endif%}

    <strong>Liste des établissements</strong>

    <table class="etablissement">
    
        <thead>
            <tr>
                    <th>Société</th>
                    <th>Libellé établissement</th>
                    <th>SIRET</th>
                    <th>Adresse</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                    <th>Créer des organismes</th>

            </tr>
        
        </thead>
        <tbody>

            {%for societe in projet.societes %}
                {% for etablissement in societe.etablissements%}

                <tr>
                    <th>{{societe.raisonsociale}}</td>
                    <th>{{etablissement.libelle}}</td>
                    <td>{{etablissement.nic}}</td>
                    <td>{{etablissement.adresse}}</td>
                    <td>{{etablissement.codepostal}}</td>
                    <td>{{etablissement.ville}}</td>
                    <td><a class="nav-link" href="{{ path('organisme_create',{'idprojet':projet.id,'idetablissement':etablissement.id})}}">Créer un organisme</a></td>

                </tr>
                {%endfor%}

            {%endfor%}

        </tbody>
     </table>
    <strong>Liste des banques</strong>

    <table class="banques">
    
        <thead>
            <tr>
                    <th>Libellé établissement</th>
                    <th>IBAN</th>
                    <th>BIC</th>

            </tr>
        
        </thead>
        <tbody>

            {%for societe in projet.societes %}
                {% for etablissement in societe.etablissements%}
                    {% for banque in etablissement.banques%}


                    <tr>
                        <th>{{etablissement.libelle}}</td>
                        <td>{{banque.iban}}</td>
                        <td>{{banque.bic}}</td>

                    </tr>
                    {%endfor%}

                {%endfor%}

            {%endfor%}

        </tbody>
     </table>

    <strong>Liste des codes emplois</strong>

    <table class="emplois">
   
        <thead>
            <tr>     
                <th>Raisonsociale</th>           
                <th>Code emploi</th>
                <th>Libellé emploi</th>
            </tr>            
        
        </thead>
            <tbody>
            {%for societe in projet.societes %}

                {%for emploi in societe.emplois %}
                    <tr>          
                        <td>{{societe.raisonsociale}}</td>
                        <td>{{emploi.codeemploi}}</td>
                        <td>{{emploi.valeur}}</td>                                                  
                    </tr>
                {%endfor%}
            {%endfor%}
           
            </tbody>
    </table>

   

     <strong>Liste des rubriques</strong>

    <table class="rubriques">
    
        <thead>
            <tr>
                
                    <th>Raisonsociale</th>
                    <th>SIREN</th>
                    <th>Adresse</th>
                    <th>Source</th>
                    <th>Numero</th>               
                    <th>Type</th>
                    <th>Base</th> 
                    <th>Taux</th>
                    <th>Montant</th>      
                    <th>DSN périodicté</th>      

            </tr>

                 
        
        </thead>
        <tbody>


            {%for societe in projet.societes %}
                {%for rubrique in societe.rubriques %}

                <tr>
                    <th>{{societe.raisonsociale}}</td>
                    <td>{{societe.siren}}</td>
                    <td>{{rubrique.type}}</td>
                    <td>{{rubrique.numero}}</td>
                    <td>{{rubrique.nature}}</td>
                    <td>{{rubrique.base}}</td>
                    <td>{{rubrique.taux}}</td>
                    <td>{{rubrique.montant}}</td>
                    <td>{{rubrique.dsnperiodeprime}}</td>

                   
                                
                </tr>
                {%endfor%}

            {%endfor%}

           
        </tbody>
     </table>


{% endblock %}
