{% extends 'base.html.twig' %}

{%block body %}


<p>Bibliotheque du projet {{ccnprojet.libelle}}</p>
   
<p>Liste des classifications de la CCN</p>

<table class="classifications">
    
        <thead>
            <tr>
                    <th>Type</th>
                    <th>Valeur</th>
            </tr>
        
        </thead>
        <tbody>
                {%for classification in ccnprojet.classifications%}
                <tr>
                    <td>{{classification.type}}</td>
                    <td>{{classification.valeur}}</td>
                    <td><a class="btn btn-danger" href="{{ path('assistantcreationsociete_remove_classification',{'idprojet':projet.id,'idsociete':societe.id,'idccn':ccnprojet.id,'idclassification':classification.id,})}}">Supprimer la classification</a></td>
              
                </tr>
             {%endfor%}

        </tbody>
     </table>
<a class="nav-link" href="{{ path('assistantcreationsociete_add_classification',{'idprojet':projet.id,'idsociete':societe.id,'idccn':ccnprojet.id})}}">Ajouter des classifications</a>

<p>Liste des tables d'ancienneté de la CCN</p>

<table class="anciennete">
    
        <thead>
            <tr>
                    <th>Population</th>
                    <th>Nombre de mois</th>
                    <th>Pourcentage</th>
            </tr>
        
        </thead>
        <tbody>
                {%for anciennete in ccnprojet.primeanciennetepopulations%}
                    {%for valeur in anciennete.primeanciennetevaleurs%}
                    <tr>

                        <td>{{anciennete.libelle}}</td>
                        <td>{{valeur.anciennetemois}}</td>
                        <td>{{valeur.pourcentage}}</td>
                    </tr>
                    {%endfor%}                
             {%endfor%}

        </tbody>
     </table>
<a class="nav-link" href="{{ path('assistantcreationsociete_primeanciennetepopulation_create',{'idprojet':projet.id,'idsociete':societe.id,'idccn':ccnprojet.id})}}">Ajouter une nouvelle table d'ancienneté</a>


<p>Liste des tables de maintien de la CCN</p>

<table class="maintien">
    
        <thead>
            <tr>
                    <th>Absence</th>
                    <th>Population</th>                
                    <th>Nombre de mois minimum</th>
                    <th>Nombre de mois maximum</th>
                    <th>Nombre de jours</th>
                    <th>Nombre de jours de carence</th>
                    <th>Pourcentage</th>
            </tr>
        
        </thead>
        <tbody>
                {%for populationmaintien in ccnprojet.criteremaintiens%}
                    {%for pourcentagemaintien in populationmaintien.tablemaintiens%}
                    <tr>
                        <td>{{populationmaintien.population}}</td>
                        <td>{{populationmaintien.absence}}</td>
                        <td>{{pourcentagemaintien.anciennetedebut}}</td>
                        <td>{{pourcentagemaintien.anciennetefin}}</td>
                        <td>{{pourcentagemaintien.dureemaximale}}</td>
                        <td>{{pourcentagemaintien.jourscarenceemployeur}}</td>
                        <td>{{pourcentagemaintien.tauxmaintien}}</td>
                    </tr>
                    {%endfor%}                
             {%endfor%}

        </tbody>
     </table>
<a class="nav-link" href="{{ path('assistantcreationsociete_absencemaintien_create',{'idprojet':projet.id,'idsociete':societe.id,'idccn':ccnprojet.id})}}">Ajouter une nouvelle table de maintien</a>

<a class="btn btn-primary" href="{{ path('assistantcreationsociete_chapitreccn',{'idprojet':projet.id,'idsociete':societe.id})}}">Retour au chapitre ccn</a>

{%endblock%}
