{% extends 'base_bibliotheque.html.twig' %}

{%block body %}

<p>Description de la convention collective {{ccn.libelle}} numéro IDCC {{ccn.idcc}}</p>
<p>Statut : {{ccn.statut}}</p>

<p>Liste des coefficients</p>

<table class="coefficients">
    
        <thead>
            <tr>
                <th>Nature</th>
                <th>Valeur</th>
                   
            </tr>
        
        </thead>
        <tbody>


            {%for classifications in ccn.bibliothequeclassifications%}

                 <tr>
                    <td>{{classifications.type}}</td>
                    <td>{{classifications.valeur}}</td>
                    
                </tr>
            
            {%endfor%}
             
        </tbody>
</table>

</br>

<p>Liste des tables d'ancienneté de la CCN</p>

<table class="anciennete">
    
        <thead>
            <tr>
                    <th>Population</th>
                    <th>Nombre de mois</th>
                    <th>Signe</th>
                    <th>Pourcentage</th>
                    <th>Etendu</th>
            </tr>
        
        </thead>
        <tbody>
                {%for anciennete in ccn.bibliothequeprimeanciennetepopulations%}
                    {%for valeur in anciennete.bibliothequeprimeanciennetevaleur%}
                    <tr>

                        <td>{{anciennete.libelle}}</td>
                        <td>{{valeur.anciennetemois}}</td>
                        <td>{{valeur.signe}}</td>
                        <td>{{valeur.pourcentage}}</td>
                        <td>{{valeur.etendu}}</td>
                    </tr>
                    {%endfor%}                
             {%endfor%}

        </tbody>
     </table>

<p>Liste des tables de maintien de la CCN</p>

<table class="maintien">
    
        <thead>
            <tr>
                    <th>Absence</th>
                    <th>Population</th>                
                    <th>Nombre de mois minimum</th>
                    <th>Nombre de mois maximum</th>
                    <th>Nombre de jours</th>
                    <th>Nombre de jours de carence</th>
                    <th>Pourcentage</th>
            </tr>
        
        </thead>
        <tbody>
                {%for populationmaintien in ccn.bibliothequecriteremaintiens%}
                    {%for pourcentagemaintien in populationmaintien.bibliothequetablemaintiens%}
                    <tr>
                        <td>{{populationmaintien.population}}</td>
                        <td>{{populationmaintien.absence}}</td>
                        <td>{{pourcentagemaintien.anciennetedebut}}</td>
                        <td>{{pourcentagemaintien.anciennetefin}}</td>
                        <td>{{pourcentagemaintien.dureemaximale}}</td>
                        <td>{{pourcentagemaintien.jourscarenceemployeur}}</td>
                        <td>{{pourcentagemaintien.tauxmaintien}}</td>
                    </tr>
                    {%endfor%}                
             {%endfor%}

        </tbody>
     </table>
{%endblock%}

