{% extends 'base_bibliotheque.html.twig' %}

{%block body %}

<p>Description de la convention collective {{ccnprojet.libelle}} numéro IDCC {{ccnprojet.idcc}}</p>

<strong>Liste des classifications</strong>

<table class="classifications">
    
        <thead>
            <tr>
                    <th>Type</th>
                    <th>Valeur</th>

            </tr>
        
        </thead>
        <tbody>
            {% for classifications in ccnprojet.classifications%}
                
                <tr>
                    <td>{{classifications.type}}</td>
                    <td>{{classifications.valeur}}</td>
                
                </tr>
             {%endfor%}

        </tbody>
</table>

</br>

<strong> Prime anciennete </strong>

<table class="primeanciennete">
    
        <thead>
            <tr>
                    <th>Population</th>
                    <th>Ancienneté en mois</th>
                    <th>Signe</th>
                    <th>Pourcentage</th>

            </tr>
        
        </thead>
        <tbody>
            {% for primeanciennetepopulation in ccnprojet.primeanciennetepopulations %}
                {% for primeanciennetevaleur in primeanciennetepopulation.primeanciennetevaleurs %}

                <tr>
                    <td>{{primeanciennetepopulation.libelle}}</td>
                    <td>{{primeanciennetevaleur.anciennetemois}}</td>
                    <td>{{primeanciennetevaleur.signe}}</td>
                     <td>{{primeanciennetevaleur.pourcentage}}</td>
             
                </tr>
                {%endfor%}

            {%endfor%}

        </tbody>
</table>

<p>Liste des tables de maintien de la CCN</p>

<table class="maintien">
    
        <thead>
            <tr>
                    <th>Absence</th>
                    <th>Population</th>                
                    <th>Nombre de mois minimum</th>
                    <th>Nombre de mois maximum</th>
                    <th>Nombre de jours</th>
                    <th>Nombre de jours de carence</th>
                    <th>Pourcentage</th>
            </tr>
        
        </thead>
        <tbody>
                {%for populationmaintien in ccnprojet.criteremaintiens%}
                    {%for pourcentagemaintien in populationmaintien.tablemaintiens%}
                    <tr>
                        <td>{{populationmaintien.population}}</td>
                        <td>{{populationmaintien.absence}}</td>
                        <td>{{pourcentagemaintien.anciennetedebut}}</td>
                        <td>{{pourcentagemaintien.anciennetefin}}</td>
                        <td>{{pourcentagemaintien.dureemaximale}}</td>
                        <td>{{pourcentagemaintien.jourscarenceemployeur}}</td>
                        <td>{{pourcentagemaintien.tauxmaintien}}</td>
                    </tr>
                    {%endfor%}                
             {%endfor%}

        </tbody>
     </table>


    
{%endblock%}

