{% extends 'base_assistantparametrage.html.twig' %}

{%block body %}

    <strong>Créer des valeurs pour {{zonelibre.libelle}} </strong>

    {{form_start(formZonelibrehrsvaleur)}}
   
    {{form_widget(formZonelibrehrsvaleur)}}

    <button type="submit" class="btn btn-primary">Créer une valeur</button>

    {{form_end(formZonelibrehrsvaleur)}}

{%for valeurs in zonelibre.valeurzonelibrehrs%}

<p>{{valeurs.code}}/{{valeurs.valeur}}</p>

{%endfor%}

{%endblock%}
